//media queries

@mixin big_device {
    @media(min-width:$breakpoint-desktop-min) {
        @content;
    }
}

// @mixin medium_device_max {
//     @media(max-width:$breakpoint-tablet-max) {
//         @content;
//     }
// }

// @mixin medium_device {
//     @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max) {
//         @content;
//     }
// }

// @mixin medium_device_min {
//     @media(min-width:$breakpoint-tablet-min) {
//         @content;
//     }
// }

@mixin small_device {
    @media(max-width:$breakpoint-mobile-max) {
        @content;
    }
}

//fonts

@mixin main_font_regular {
    font-family: $mainFont;
    font-weight: $regular;
    font-style: normal;
}

@mixin main_font_medium {
    font-family: $mainFont;
    font-weight: $medium;
    font-style: normal;
}

@mixin main_font_bold {
    font-family: $mainFont;
    font-weight: $bold;
    font-style: normal;
}

//img

@mixin img_responsive {
    width: 100%;
    height: auto;
    display: block;
}

@mixin img_cover {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}